demo_flows/flows_4.json
[
    {
        "id": "6917cb6278c3bc9c",
        "type": "tab",
        "label": "led_2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "401dbb8c14ad2f0b",
        "type": "kafka-connection",
        "name": "client_4",
        "brokers": "kafka-2:9092",
        "clientId": "4"
    },
    {
        "id": "fe3ec81ca6f27939",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tcp://mi.remote.lucadanelutti.it:1883",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "558280fa614571de",
        "type": "kafka-consumer",
        "z": "6917cb6278c3bc9c",
        "name": "consume led_2",
        "connection": "401dbb8c14ad2f0b",
        "topic": "led_2",
        "groupId": "led_2_group",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "82fd8b08a872b0fe"
            ]
        ]
    },
    {
        "id": "c1233eb48b5c5e4a",
        "type": "mqtt out",
        "z": "6917cb6278c3bc9c",
        "name": "",
        "topic": "leds",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fe3ec81ca6f27939",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "82fd8b08a872b0fe",
        "type": "switch",
        "z": "6917cb6278c3bc9c",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "b5458f0792455a1c"
            ],
            [
                "1370435c83def414"
            ]
        ]
    },
    {
        "id": "b5458f0792455a1c",
        "type": "function",
        "z": "6917cb6278c3bc9c",
        "name": "msg.payload = ON",
        "func": "msg.payload = \"LED_2_ON\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            [
                "c1233eb48b5c5e4a"
            ]
        ]
    },
    {
        "id": "1370435c83def414",
        "type": "function",
        "z": "6917cb6278c3bc9c",
        "name": "msg.payload = OFF",
        "func": "msg.payload = \"LED_2_OFF\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            [
                "c1233eb48b5c5e4a"
            ]
        ]
    }
]