demo_flows/flows_2.json
[
    {
        "id": "5e1a98b4b67be95e",
        "type": "tab",
        "label": "split_telegram_msgs",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b3f812011f394f41",
        "type": "kafka-connection",
        "name": "client_2",
        "brokers": "kafka-2:9092",
        "clientId": "2"
    },
    {
        "id": "cce6a437490c79ae",
        "type": "kafka-consumer",
        "z": "5e1a98b4b67be95e",
        "name": "consume telegram msgs",
        "connection": "b3f812011f394f41",
        "topic": "telegram_msg",
        "groupId": "telegram_group",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "27c7be7c769afc49"
            ]
        ]
    },
    {
        "id": "27c7be7c769afc49",
        "type": "switch",
        "z": "5e1a98b4b67be95e",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "8781a950785a85d2"
            ],
            [
                "091e3e47c6655c8b"
            ],
            [
                "6de0edce030ce920"
            ]
        ]
    },
    {
        "id": "8781a950785a85d2",
        "type": "kafka-producer",
        "z": "5e1a98b4b67be95e",
        "name": "producer led_1",
        "connection": "b3f812011f394f41",
        "topic": "led_1",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "6de0edce030ce920",
        "type": "kafka-producer",
        "z": "5e1a98b4b67be95e",
        "name": "producer led_3",
        "connection": "b3f812011f394f41",
        "topic": "led_3",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "091e3e47c6655c8b",
        "type": "kafka-producer",
        "z": "5e1a98b4b67be95e",
        "name": "producer led_2",
        "connection": "b3f812011f394f41",
        "topic": "led_2",
        "x": 640,
        "y": 120,
        "wires": []
    }
]